@media (min-width: 768px) {
    .vdp-modal .modal-dialog {
        margin: 5px 0;
    }
}

.vdp-modal .modal-dialog.modal-lg {
    width: 98%;
}

.op-vdp__video {
    width: 100%;
}

.vdp-modal .modal-header {
    padding: 2px
}

.vdp-modal--part-col {
    overflow-y: scroll;
    height: 90%;
    padding: 5px 0
}

.vdp-modal--each-vd {
    padding: 5px 0
}

.row.vdp-modal--each-vd div.btn-group {
    margin-left: 26px;
}

.vdp__div-input-file {
    width: 450px;
    height: 300px;
    margin: 50px auto 5px auto;
    border: 3px #c0c0c0;
    border-style: dashed
}

    .vdp__div-input-file:hover {
        background-color: dodgerblue;
        color: white;
        border-color: white
    }

.vdp-input--upload {
    visibility: hidden;
    display: none !important
}

.vdp-input--label {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    padding: 90px 0;
}

.vdp_div--input-url {
    display: none;
    width: 450px;
    margin: 5px auto;
}

.vdp__input-url {
    background-color: white
}

.vdp__btn-close-pv {
    width: 23px;
    height: 23px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 10px;
    border-width: 0;
    z-index: 1;
    color: red;
    background-color: unset;
    font-size: 12px
}

    .vdp__btn-close-pv:hover {
        border-color: red;
        color: red;
        background-color: white;
        transform: translate(-1px, -1px);
        box-shadow: 2px 2px 8px red;
        box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.8)
    }

.vdp__btn-close-part-video {
    width: 16px;
    height: 15px;
    position: relative;
    right: 26px;
    top: -3px;
    padding: 0;
    border: unset;
    background-color: unset;
    color: red;
    z-index: 1;
    font-size: 11px;
    font-family: 'Glyphicons Halflings';
}

.vdp__btn-close-part-video:before {
    content: "\e014";
}

    .vdp__btn-close-part-video span {
        position: relative;
        top: -2px;
    }

    .vdp__btn-close-part-video:hover {
        border-color: red;
        color: red;
        background-color: white;
        transform: translate(-1px, -1px);
        box-shadow: 2px 2px 8px red;
        box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.8);
    }

.vdp__div-process-vd {
    height: 10%;
}

.filter-item {
    font-size: 16px;
    color: #666;
    margin: 0 auto;
    margin-top: 25px;
    box-sizing: border-box;
    text-align: left;
}

.vdp__bar-part {
    width: 90%;
    height: 18px;
    background-color: #e8eaec;
    position: relative;
    margin: 0 auto
}

    .vdp__bar-part div {
        height: 18px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 13px;
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
    }

.vdp__drp-text {
    width: 230px;
    text-overflow: ellipsis;
    overflow: hidden
}

.slider-wrap {
    width: 90%;
    height: 2px;
    margin: 16px auto 25px;
    background-color: #e8eaec;
    border-radius: 3px;
    vertical-align: middle;
    position: relative;
    line-height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

    .slider-wrap .slider-line {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        z-index: -1000;
        background-color: transparent;
        pointer-events: none;
    }

    .slider-wrap .slider-split {
        height: 5px;
        top: -2px;
        background: #aabdff;
        border-radius: 3px;
        position: absolute;
        padding: 0;
    }

    .slider-wrap .video-preview {
        position: absolute;
        left: -50px;
        top: -22px;
        width: 44px;
        height: 44px !important;
        min-height: 44px !important;
        border-radius: 50%;
        background: url(../img/video-play-white.svg) left center/42px no-repeat;
        background-color: #4159ff;
        box-shadow: 0 0 20px #4159ff;
        box-shadow: 0 0 20px rgba(65,89,255,.4);
    }

        .slider-wrap .video-preview:hover {
            transform: translate(-1px, -1px);
            box-shadow: 2px 2px 8px dodgerblue;
            box-shadow: 2px 2px 8px rgba(30, 144, 255, 0.8);
        }

    .slider-wrap .video-pause {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTg0LjIgMTg0LjIiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtjbGlwLXBhdGg6dXJsKCNhKTtmaWxsOm5vbmU7c3Ryb2tlOnRyYW5zcGFyZW50O3N0cm9rZS13aWR0aDoxMDtzdHJva2UtbWl0ZXJsaW1pdDoxMH0uc3Qxe2NsaXAtcGF0aDp1cmwoI2EpO2ZpbGw6bm9uZTtzdHJva2U6I2ZmZjtzdHJva2Utd2lkdGg6MTA7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwfTwvc3R5bGU+PGRlZnM+PHBhdGggaWQ9ImIiIGQ9Ik0wIDBoMTg0LjJ2MTg0LjJIMHoiLz48L2RlZnM+PGNsaXBQYXRoIGlkPSJhIj48dXNlIHhsaW5rOmhyZWY9IiNiIiBvdmVyZmxvdz0idmlzaWJsZSIvPjwvY2xpcFBhdGg+PHBhdGggY2xhc3M9InN0MCIgZD0iTTkyLjEgNUM0NC4xIDUgNSA0NC4xIDUgOTIuMWMwIDQ4IDM5LjEgODcuMSA4Ny4xIDg3LjEgNDggMCA4Ny4xLTM5LjEgODcuMS04Ny4xIDAtNDgtMzktODcuMS04Ny4xLTg3LjF6Ii8+PHBhdGggY2xhc3M9InN0MSIgZD0iTTcyLjggNTguNnY3My41TTExMS40IDU4LjZ2NzMuNSIvPjwvc3ZnPg==) left center/42px auto no-repeat;
        background-color: #4159ff;
        border-radius: 50%;
        box-shadow: 0 0 20px #4159ff;
        box-shadow: 0 0 20px rgba(65,89,255,.4);
    }

    .slider-wrap .slider-bar {
        height: 5px;
        top: -2px;
        background: #4159ff;
        border-radius: 3px;
        position: absolute;
        touch-action: pan-y;
        /*transition: all .02s linear;*/
    }

    .slider-wrap .slider-button-wrap-current .slider-button {
        width: 15px;
        height: 15px;
        border: 2px solid #57a3f3;
        border-radius: 50%;
        background-color: #fff;
        /*transition: all .2s linear;*/
        outline: 0;
    }

    .slider-wrap .slider-button-wrap-left, .slider-wrap .slider-button-wrap-right {
        width: 15px;
        height: 25px;
        text-align: center;
        background-color: transparent;
        position: absolute;
        top: 2px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .slider-wrap .tooltip {
        display: contents;
    }

    .slider-wrap .slider-button-wrap-left .tooltip, .slider-wrap .slider-button-wrap-right .tooltip {
        line-height: 25px;
    }

    .slider-wrap .tooltip .tooltip-rel {
        position: relative;
        width: inherit;
        display: inline-block;
    }

.slider-button-wrap-left, .slider-button-wrap-right, .slider-button {
    width: 15px;
    height: 25px;
    /*transition: all .2s linear;*/
    outline: 0
}

    .slider-button-wrap-left .slider-button {
        background: url(../img/drag-start.svg) center center/100% no-repeat;
    }

    .slider-button-wrap-right .slider-button {
        background: url(../img/drag-end.svg) center center/100% no-repeat;
    }

.slider-wrap .slider-button-wrap-current {
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: transparent;
    position: absolute;
    top: -7px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider-wrap .video-Time {
    position: absolute;
    top: -60px;
    right: 120px;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    transform: translateX(110%);
}

.crop-range {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 20px;
}

    .crop-range .crop-input {
        margin-top: 5px;
        height: 30px;
        border: 1px solid #999;
        border-radius: 15px;
        overflow: hidden;
        padding: 0 24px;
    }

        .crop-range .crop-input span {
            width: 8px;
            line-height: 26px;
            height: 28px;
            float: left;
            margin: 0;
            padding: 0;
        }

        .crop-range .crop-input input {
            text-align: center;
            width: 20px;
            float: left;
            color: #333;
            line-height: 28px;
            border: 0 solid transparent;
            padding: 0;
        }

    .crop-range span {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 9px 5px 0 5px;
    }

.file-item span {
    color: #333;
    text-align: left;
}

.crop-range div {
    display: inline-block;
    vertical-align: top;
}

.crop-range .crop-input.disabled {
    background-color: #ebebe4;
    background-color: rgba(235,235,228,.4);
    cursor: not-allowed;
}

.vdp__total-second {
    width: 60px;
    margin-top: 8px;
    display: inline-block
}

.msg-box {
    position: absolute;
    line-height: 30px;
    padding: 0 20px;
    top: 30px;
    z-index: 3000;
    vertical-align: middle;
    border-radius: 15px;
    color: red;
}

.start-splitting-controls {
    width: 200px;
    margin: 0 auto;
}

.start-splitting {
    display: inline-block;
    font-size: 16px;
    height: 40px;
    width: 160px;
    border: 1px solid #4159ff;
    border-radius: 28px;
    background-color: #4159ff;
    color: #fff;
}

    .start-splitting:hover {
        transform: translate(-1px, -1px);
        box-shadow: 2px 2px 8px dodgerblue;
        box-shadow: 2px 2px 8px rgba(30, 144, 255, 0.8);
    }

.start-splitting {
    display: inline-block;
    font-size: 16px;
    height: 40px;
    width: 160px;
    border: 1px solid #4159ff;
    border-radius: 28px;
    background-color: #4159ff;
    color: #fff;
}

    .start-splitting:hover {
        transform: translate(-1px, -1px);
        box-shadow: 2px 2px 8px dodgerblue;
        box-shadow: 2px 2px 8px rgba(30, 144, 255, 0.8);
    }

.btn--process-video {
    margin: 5px 30%;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    width: 160px;
    border: 1px solid #4159ff;
    border-radius: 8px;
    background-color: #4159ff;
    color: #fff;
}

    .btn--process-video:hover {
        transform: translate(-1px, -1px);
        box-shadow: 2px 2px 8px dodgerblue;
        box-shadow: 2px 2px 8px rgba(30, 144, 255, 0.8);
    }

.multiselect.dropdown-toggle.vdp__drp-text {
    border-width: 0 !important;
    background-color: white !important;
    color: red !important
}

.multiselect-native-select {
    margin-left: 10px;
}

.op__processing-video {
    position: fixed;
    top: 0;
    right: -10px;
    width: 70px;
    height: 35px;
    display: none;
    z-index: 110
}

.op__part-no {
    width: 28px;
    height: 28px;
    border: 2px solid #4159ff;
    border-radius: 14px;
    text-align: center;
    color: #4159ff;
    font-size: 18px
}

.op__total-time {
    color: forestgreen
}

.op__btn--add-process {
    width: 30px;
    height: 30px
}

.row.vdp-modal--each-vd .multiselect-container.dropdown-menu li {
    display: grid
}

.vdp__right-vd-header {
    flex-grow: 0;
    margin: 0
}

.btn--save-video {
    height: 30px;
    width: 100%;
    border: 1px solid #4159ff;
    border-radius: 4px;
    background-color: #4159ff;
    color: #fff;
}

.btn--save-video:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 8px dodgerblue;
    box-shadow: 2px 2px 8px rgba(30, 144, 255, 0.8);
}

.vdp_div-save {
    width: 100%;
    flex-grow: 0;
    margin: 0
}

.vdp__btn-hide {
    float: right;
    line-height: 25px;
    border-width: 0;
    background-color: unset;
    color: #999999;
}

.vdp__btn-hide:hover {
    color: #333333;
}

.vdp__right-vd-list {
    background-color: #ebebe4;
    /*opacity: 0.7;*/
    position: fixed;
    right: 0;
    top: 0;
    width: 104px;
    height: 100%;
    z-index: 1041;
    display: flex;
    flex-direction: column
}

/*.vdp__right-vd-list * {
        z-index: 1000;
        position: relative;
    }*/

.vdp__right-vd {
    margin-top: 35px
}

.vdp__btn-right-vd {
    /*position: absolute;
    top: 0;
    left: 0;*/
    border: unset;
    font-size: 20px;
    background-color: unset;
    line-height: 20px;
}

@keyframes rotateCloseButton {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.vdp__btn-right-vd:hover {
    animation-name: rotateCloseButton;
    animation-duration: 2s
}

.vdp__number {
    border: 1px solid #00bfff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 19px
}

.row.vdp__video-list div {
    margin: 0;
}

.vdp__video-list {
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;
    margin: 0
}

.vdp__video-list ul {
    margin-left: 0;
    padding: 0
}

.vdp__video-list li {
    border: 1px solid;
    border-width: 1px 0 0 0;
    padding-top: 5px
}

.row.vdp__total-time svg {
    display: inline-block
}

.vdp__total-time {
    font-size: 14px
}

.vdp__range-time {
    font-size: 14px
}