.sidebar ul, ol {
    margin-left: 0;
}

.jtk-node {
    border-radius: 8px;
    border: 2px solid #073150;
    box-shadow: #66afe9 0 0 8px;
    /*box-shadow: rgba(102, 175, 233, 0.6) 0 0 8px;*/
    box-shadow: rgba( 128, 128, 128,1) 0 0 14px;
    cursor: move;
    font-size: 12px;
    position: absolute;
    z-index: 11;
    overflow: hidden;
}

.jtk-node .name {
        font-size: 13px;
        line-height: 24px;
        text-align: center;
    }

.jtk-group {
    background-color: white;
    border: 1px solid #1d5987;
    z-index: 10;
    width: 170px;
    height: 110px;
}

    .jtk-group.jtk-drag-hover, .jtk-node.jtk-drag-hover {
        outline: 2px solid red;
    }

.group-title {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 22px;
    line-height: 24px;
    font-size: 14px;
    text-indent: 2px;
    border-bottom: 1px solid #1d5987;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .group-title button {
        position: absolute;
        right: 2px;
        top: 2px;
        cursor: pointer;
        line-height: 1;
        color: black;
    }

.jtk-group.jtk-group-collapsed {
    height: 32px;
}

.jtk-group [jtk-group-content] {
    height: 110px;
}
