<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--TPM connection -->
    <add name="PKTPM" connectionString=" Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=pkerp)));User Id=PKTPM;Password=PKTPM@)!^; " />

    <!--Viet Nam MES Mys SqL connection -->
    <!--<add name="MySqlMesConnection" connectionString="Server=203.113.146.146;Database=mes;Uid=root;Pwd=pkerp@2017;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->
    <!--PK2-->
    <add name="MySqlMesConnection" connectionString="Server=203.113.151.219;Database=mes;Uid=pkmes;Pwd=pkmes@)@);Allow User Variables=True;SslMode=none;" providerName="MySql.Data.MySqlClient" />

    <!--PK3-->
    <!--<add name="MySqlMesConnection" connectionString="Server=27.65.197.214;Database=mes;Uid=root;Pwd=pk2MESROOT@)@);Allow User Variables=True;SslMode=none;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="MySqlMesConnection" connectionString="Server=27.65.197.214;Database=mes;Uid=mesuser;Pwd=MESuser@js@)@);Allow User Variables=True;SslMode=none;" providerName="MySql.Data.MySqlClient" />-->

    <!--Indonesia-G MES Mys SqL connection -->
    <!--<add name="MySqlMesConnection" connectionString="Server=183.81.158.139;Database=mes;Uid=root;Pwd=pkigMESROOT@)@);Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

    <!--Indonesia-Subang MES Mys SqL connection -->
    <!--<add name="MySqlMesConnection" connectionString="Server=183.81.154.204;Database=mes;Uid=pkmes;Pwd=MESpkIS@)@); Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="MySqlMesConnection" connectionString="Server=mespkis.pungkookvn.com;Database=mes;Uid=pkmes;Pwd=MESpkIS@)@); Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

    <!--PKBT-->
    <!--<add name="MySqlMesConnection" connectionString="Server=mespkbt.pungkookvn.com;Database=mes;Uid=mesuser;Pwd=MESuser@)@)BT; Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

    <!--DGS Mys SqL connection -->
    <!--PK2-->
    <add name="MySqlDgsConnection" connectionString="Server=125.234.135.55;Database=pkdgs_db;Uid=pkdgs_erp;Pwd=r@HSN6_R?ZvvqD98xW7_;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />

    <!--PK3 DGS-->
    <!--<add name="MySqlDgsConnection" connectionString="Server=27.65.197.213;Database=pkdgs_db;Uid=dgs_root;Pwd=r@HSN6_R?ZvvqD98xW7_;Port=3308;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

    <!--PKBT-->
    <!--<add name="MySqlDgsConnection" connectionString="Server=125.234.106.171;Database=pkdgs_db;Uid=dgs_root;Pwd=r@HSN6_R?ZvvqD98xW7_;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

    <!--PKPCM connection string-->
    <add name="PKPCM" connectionString=" Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=erp.pungkookvn.com)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=pkerp)));User Id=PKPCM;Password=PKPCM@)!&amp;; " />

    <!--TESTING PKMES ERP connection string-->
    <!--<add name="PkMes" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.30)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PKERP)));User Id=PKMES;Password=PKMES@)!(; " />-->
    <!--<add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=pk@5471;" providerName="Oracle.ManagedDataAccess.Client" />-->

    <!--PKMes and ERP connection string-->
    <add name="PkMes" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PKERP)));User Id=PKMES;Password=pkENT)%@%@)@); " />
    <add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=PKERP@()$@K16;" providerName="Oracle.ManagedDataAccess.Client" />

  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="OpsVideoPath" value="~/assets/ops-fileupload/videos/" />
    <add key="VideoServerLink" value="http://video.pungkookvn.com:8888/api/Media/Play?fol=" />
    <add key="OpsVideoProcessPath" value="~/assets/ops-fileupload/videos/operationvideos/" />
    <add key="OperationFilePath" value="~/assets/ops-fileupload/files/" />

    <!--MES File folder-->
    <add key="PKMESFolder" value="E:\MESFile\" />

    <add key="pkfilefolder" value="~/pkfile/video" />

    <!--PK2 Server number-->
    <add key="ServerNo" value="1" />

    <!--Grobogan Server number-->
    <!--<add key="ServerNo" value="4" />-->

    <!--Subang (IS) Server number-->
    <!--<add key="ServerNo" value="10" />-->

    <!--PKBT Server number-->
    <!--<add key="ServerNo" value="7" />-->

    <!--Joon Saigon Server number-->
    <!--<add key="ServerNo" value="2" />-->

    <!--PKBT Server number-->
    <!--<add key="ServerNo" value="7" />-->

    <!--PK3 Server number-->
    <!--<add key="ServerNo" value="9" />-->

    <!--PKMT Server number-->
    <!--<add key="ServerNo" value="5" />-->

    <add key="TemporaryFolder" value="~/assets/ops-fileupload/temp/" />

    <!--Style Image-->
    <add key="OpsStyleImagePath" value="D:\Workspace\pkpdm\uploads\" />

    <!--Operation Images-->
    <add key="ProcessImageDirectory" value="G:\PK Solutions\Ops-New\MES\ProcessImages\" />
    <add key="PorcessImageHostDirectory" value="/ops/ProcessImages/" />

    <add key="OpdtImgDir" value="ProcessImages" />

    <!--Ftp process video information-->
    <!--<add key="VideoProcessHttpLink" value="http://203.113.151.201/ops/operationvideos/" />-->
    <add key="VideoProcessHttpLink" value="http://203.113.151.204:8080/BETAPDM/test/" />

    <add key="MESApiLink" value="https://pk2mes.pungkookvn.com:9955" />
    <!--<add key="MESApiLink" value="https://mespk2.pungkookvn.com:9955" />-->

    <add key="FtpOpVideoUser" value="FTPUser" />
    <add key="FtpOpVideoPassword" value="pk2FTP2016" />
    <add key="FtpOpVideoDirectory" value="ftp://203.113.151.204/BETAPDM/test/" />

    <add key="OperationToolsImageDirectory" value="D:\Workspace\ops\ToolImages\" />

    <add key="LineBalacingTemplateFolder" value="~/assets/excel-files/templates/line-balancing/" />
    <add key="ExportingFolder" value="~/assets/excel-files/exporting/" />
    <add key="TptShare" value="TPTSHARE" />

    <!--PK2 MES HRM Worker image url-->
    <!--<add key="WorkerImageUrl" value="http://mespk2.pungkookvn.com:8080/hrm/" />-->
    <add key="WorkerImageUrl" value="http://localhost:2323/HRMASSETS/" />

    <!--<add key="EmpImageFolder" value="~/assets/hrm/worker/img/"/>-->
    <add key="EmpImageFolder" value="~/HRMASSETS/" />

    <!-- K-Tech API for op-worker linking -->
    <!--<add key="GetEmployeesApi" value="http://118.69.83.197:8011/api/user/getall" />
    <add key="GetDeptTeamByCorpApi" value="http://118.69.83.197:8011/api/org/getdeptteam" />
    <add key="GetCorpsApi" value="http://118.69.83.197:8011/api/org/getallfactories" />
    <add key="GetAttendEmpsApi" value="http://118.69.83.197:8011/api/dailyworking/getdailyworking" />
    <add key="GetEmployeesByTeamApi" value="http://118.69.83.197:8011/api/user/getemployeebyteam" />-->

    <add key="GetEmployeesApi" value="http://10.10.1.32/:8011/api/user/getall" />
    <add key="GetDeptTeamByCorpApi" value="http://10.10.1.32:8011/api/org/getdeptteam" />
    <add key="GetCorpsApi" value="http://10.10.1.32:8011/api/org/getallfactories" />
    <add key="GetAttendEmpsApi" value="http://10.10.1.32:8011/api/dailyworking/getdailyworking" />
    <add key="GetEmployeesByTeamApi" value="http://10.10.1.32:8011/api/user/getemployeebyteam" />

    <!--Atman API for NFC-->
    <add key="GetEmpNfcIdApi" value="http://hrmvn.pungkookid.com:8013/api/employee/getimgurl_ver2" />

    <!--Email information-->
    <add key="EmailAddress" value="plm@pungkookvn.com" />
    <add key="EmailPassword" value="pkplm@pkerp" />
    <add key="SmtpClient" value="mail.pungkookvn.com" />
    <add key="Port" value="25" />
    <add key="OraTimeout" value="3" />

    <!-- Employee Image hyperlink -->

  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" slidingExpiration="true" />
    </authentication>

    <sessionState timeout="2880"></sessionState>

    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.2" newVersion="4.5.3.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
