@model OPS_DAL.CuttingPlanEntity.CutTicket

@{
    ViewBag.Title = "CutTicketEdit";
    Layout = "~/Views/Shared/_MesLayout.cshtml";
}

<h2>Cut Ticket Edit</h2>

Ticket ID: @Html.DisplayFor(m=> m.TicketID)

