<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Viet Nam MES Mys SqL connection -->
    <add name="MySqlMesConnection" connectionString="Server=203.113.146.146;Database=mes;Uid=root;Pwd=pkerp@2017;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />

    <!--Indonesia MES Mys SqL connection -->
    <!--<add name="MySqlMesConnection" connectionString="Server=183.81.158.139;Port=3360;Database=mes;Uid=MySQL80.MESLocalAdmin;Pwd=MESLocalAdmin@)!(;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

    <!--DGS Mys SqL connection -->
    <add name="MySqlDgsConnection" connectionString="Server=125.234.135.55;Database=dgssystemdb_02;Uid=root;Pwd=abc123!@#;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />

    <!--PKMes connection string-->
    <add name="PkMes" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PKERP)));User Id=PKMES;Password=PKMES@)!*; " />

    <!--ERPTest connection string-->
    <!--<add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=pk@5471;" providerName="Oracle.ManagedDataAccess.Client" />-->

    <!--ERPTest New connection string-->
    <add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.1.73)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=PKERP@()$@K16;" providerName="Oracle.ManagedDataAccess.Client" />

    <!--ERP connection string-->
    <!--<add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=PKERP@()$@K16;" providerName="Oracle.ManagedDataAccess.Client" />-->

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>