
/* 

DayPilot Scheduler Theme
https://themes.daypilot.org/scheduler/theme/tyz5df

Theme Designer Version: 2017.05.15.1032

*/

.th_schdgreen_main {
    border: 1px solid #cffcf0;
}

    th_schdgreen_message .th_schdgreen_main, .th_schdgreen_main td {
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

.th_schdgreen_event {
}

.th_schdgreen_event {
    color: #ffffff;
}


.th_schdgreen_event_inner {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
    left: 0px;
    right: 2px;
    top: 0px;
    bottom: 3px;
    -moz-box-shadow: 1px 2px 3px rgba(000,000,000,0.3);
    -webkit-box-shadow: 1px 2px 3px rgba(000,000,000,0.3);
    box-shadow: 1px 2px 3px rgba(000,000,000,0.3);
   
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238)); 
    background-color: #008719;
    background: -webkit-gradient(linear, left top, left bottom, from(#008a1a), to(#008419));
    background: -webkit-linear-gradient(top, #008a1a 0%, #008419);
    background: -moz-linear-gradient(top, #008a1a 0%, #008419);
    background: -ms-linear-gradient(top, #008a1a 0%, #008419);
    background: -o-linear-gradient(top, #008a1a 0%, #008419);
    background: linear-gradient(top, #008a1a 0%, #008419);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#008a1a", endColorStr="#008419");
     
}

.th_schdgreen_timeheadergroup,
.th_schdgreen_timeheadercol {
    color: #fcf7fc;
    background: #0055b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#0059b9), to(#0051a7));
    background: -webkit-linear-gradient(top, #0059b9 0%, #0051a7);
    background: -moz-linear-gradient(top, #0059b9 0%, #0051a7);
    background: -ms-linear-gradient(top, #0059b9 0%, #0051a7);
    background: -o-linear-gradient(top, #0059b9 0%, #0051a7);
    background: linear-gradient(top, #0059b9 0%, #0051a7);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#0059b9", endColorStr="#0051a7");
}

.th_schdgreen_rowheader,
.th_schdgreen_corner {
    color: #fcf7fc;
    background: #0055b0;
    background: -webkit-gradient(linear, left top, right top, from(#0059b9), to(#0051a7));
    background: -webkit-linear-gradient(left, #0059b9 0%, #0051a7);
    background: -moz-linear-gradient(left, #0059b9 0%, #0051a7);
    background: -ms-linear-gradient(left, #0059b9 0%, #0051a7);
    background: -o-linear-gradient(left, #0059b9 0%, #0051a7);
    background: linear-gradient(left, #0059b9 0%, #0051a7);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#0059b9", endColorStr="#0051a7", GradientType=1);
}

.th_schdgreen_rowheader_inner {
    padding: 2px;
}

.th_schdgreen_timeheadergroup,
.th_schdgreen_timeheadercol {
    text-align: center;
}

.th_schdgreen_timeheadergroup_inner,
.th_schdgreen_timeheadercol_inner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid #cffcf0;
    padding: 2px;
}

.th_schdgreen_timeheadergroup_inner {
    border-bottom: 1px solid #cffcf0;
}

.th_schdgreen_divider,
.th_schdgreen_splitter,
.th_schdgreen_divider_horizontal,
.th_schdgreen_resourcedivider {
    background-color: #cffcf0;
}

.th_schdgreen_matrix_vertical_line,
.th_schdgreen_matrix_horizontal_line {
    background-color: #eeeeee;
}

.th_schdgreen_cell {
    background: #f9f9f9; 
}

.th_schdgreen_cell.th_schdgreen_cell_business {
    background: #ffffff;
}

.th_schdgreen_message {
    padding: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #ffffff;
    background: #ffa216;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#f99600));
    background: -webkit-linear-gradient(top, #ffad32 0%, #f99600);
    background: -moz-linear-gradient(top, #ffad32 0%, #f99600);
    background: -ms-linear-gradient(top, #ffad32 0%, #f99600);
    background: -o-linear-gradient(top, #ffad32 0%, #f99600);
    background: linear-gradient(top, #ffad32 0%, #f99600);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffad32", endColorStr="#f99600");
}

.th_schdgreen_shadow_inner {
    background-color: #666666;
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}



.th_schdgreen_matrix_vertical_break {
    background-color: #000;
}

.th_schdgreen_cellparent {
}

.th_schdgreen_tree_image_no_children {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}

.th_schdgreen_tree_image_expand {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}

.th_schdgreen_tree_image_collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.th_schdgreen_columnheader {
}

.th_schdgreen_columnheader_inner {
    font-weight: bold;
}

.th_schdgreen_columnheader_cell {
    background: -webkit-gradient(linear, left top, right top, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -ms-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -webkit-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: linear-gradient(left, #eeeeee 0%, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#eeeeee", endColorStr="#dddddd", GradientType=1);
}

.th_schdgreen_columnheader_splitter {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.th_schdgreen_columnheader_cell_inner {
    padding: 2px;
}

.th_schdgreen_timeheader_float_inner {
    padding: 2px;
}

.th_schdgreen_event_float_inner {
    padding: 3px 2px 2px 7px;
}

    .th_schdgreen_event_float_inner:after {
        content: "";
        border-color: transparent #ffffff transparent transparent;
        border-style: solid;
        border-width: 5px;
        width: 0;
        height: 0;
        position: absolute;
        top: 6px;
        left: -4px;
    }

.th_schdgreen_event_move_left {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.th_schdgreen_event_move_right {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.th_schdgreen_event_delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
    opacity: 0.6;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    cursor: pointer;
}

    .th_schdgreen_event_delete:hover {
        opacity: 1;
        -ms-filter: none;
    }

.th_schdgreen_rowmove_handle {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ccc;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC);
    cursor: move;
}

.th_schdgreen_rowmove_source {
    background-color: black;
    opacity: 0.2;
}

.th_schdgreen_rowmove_position_before, .th_schdgreen_rowmove_position_after {
    background-color: #999;
    height: 2px;
}

.th_schdgreen_rowmove_position_child {
    margin-left: 10px;
    background-color: #999;
    height: 2px;
}

    .th_schdgreen_rowmove_position_child:before {
        content: '+';
        color: #999;
        position: absolute;
        top: -8px;
        left: -10px;
    }

.th_schdgreen_rowmove_position_forbidden {
    background-color: red;
    height: 2px;
    margin-left: 10px;
}

    .th_schdgreen_rowmove_position_forbidden:before {
        content: 'x';
        color: red;
        position: absolute;
        top: -8px;
        left: -10px;
    }

.th_schdgreen_link_horizontal {
    border-bottom-style: solid;
    border-bottom-color: red
}

.th_schdgreen_link_vertical {
    border-right-style: solid;
    border-right-color: red
}

.th_schdgreen_link_arrow_right:before {
    content: '';
    border-width: 6px;
    border-color: transparent transparent transparent red;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.th_schdgreen_link_arrow_left:before {
    content: '';
    border-width: 6px;
    border-color: transparent red transparent transparent;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.th_schdgreen_link_arrow_down:before {
    content: '';
    border-width: 6px;
    border-color: red transparent transparent transparent;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.th_schdgreen_link_arrow_up:before {
    content: '';
    border-width: 6px;
    border-color: transparent transparent red transparent;
    border-style: solid;
    width: 0px;
    height: 0px;
    position: absolute;
}

.th_schdgreen_shadow_overlap .th_schdgreen_shadow_inner {
    background-color: red;
}

.th_schdgreen_overlay {
    background-color: gray;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.th_schdgreen_event_group {
    box-sizing: border-box;
    font-size: 12px;
    color: #666;
    padding: 2px 2px 2px 2px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

.th_schdgreen_header_icon {
    box-sizing: border-box;
    border: 1px solid #cffcf0;
    background-color: #0055b0;
    color: #fcf7fc;
}

    .th_schdgreen_header_icon:hover {
        background-color: #0051a7;
    }

.th_schdgreen_header_icon_hide:before {
    content: '\00AB';
}

.th_schdgreen_header_icon_show:before {
    content: '\00BB';
}

.th_schdgreen_row_new .th_schdgreen_rowheader_inner {
    cursor: text;
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=);
}

    .th_schdgreen_row_new .th_schdgreen_rowheader_inner:hover {
        background: white;
    }

.th_schdgreen_rowheader textarea {
    padding: 3px;
}

.th_schdgreen_rowheader_scroll {
    cursor: default;
}

.th_schdgreen_shadow_forbidden .th_schdgreen_shadow_inner {
    background-color: red;
}

.th_schdgreen_event_moving_source {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.th_schdgreen_linkpoint {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

    .th_schdgreen_linkpoint.th_schdgreen_linkpoint_hover {
        background-color: black;
    }

.th_schdgreen_event.th_schdgreen_event_version .th_schdgreen_event_inner {
    background-color: #cfdde8;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
}

.th_schdgreen_crosshair_vertical, .th_schdgreen_crosshair_horizontal, .th_schdgreen_crosshair_left, .th_schdgreen_crosshair_top {
    background-color: gray;
    opacity: 0.2;
    filter: alpha(opacity=20);
}


.th_schdgreen_event_bar
{
    top: 0px;
    left: 0px;
    right: 0px;
    height: 3px;
    background-color: #9dc8e8;
}

.th_schdgreen_event_bar_inner  
{
    position: absolute;
    height: 3px;
    background-color: #1066a8;
}

.th_schdgreen_event_move_left, .th_schdgreen_event_move_right {
    color: black;
}