<!-- Update email-->
<div class="modal fade modal-custom modal-custom-width" id="mdlUpdateEmail" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update email</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-custom">
                    <div class="row">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label"> Email </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control " id="txtEmail" placeholder="Email">
                                </div>
                                <button type="button" id="btnUpdateEmail" class="btn btn-primary btn-modal">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-primary btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



