.op-emp-map__control ul.multiselect-container.dropdown-menu {
    max-height: 400px !important;
    overflow: scroll;
    z-index: 999
}

.op-emp-map__control div.btn-group {
    width: 100% !important
}

.op-emp-map__control span.input-group-addon {
    cursor: move
}

.op-emp-map__control button.multiselect.dropdown-toggle, input.form-control.multiselect-search, .multiselect-clear-filter {
    height: 33px !important
}

.op-emp-map__control button.multiselect.dropdown-toggle {
    width: 100% !important;
    padding: 3px 10px !important
}

.op-emp-map__input {
    border: 1px solid #ccc;
    height: 33px !important
}

    .op-emp-map__input:focus {
        border: 1px solid #66afe9 !important;
        box-shadow: 0 0 8px #66afe9;
        box-shadow: 0 0 8px rgba(102,175,233,.6);
        outline: none;
    }

.op-emp-map__input--emp-name {
    border: 1px solid #ccc;
    height: 33px !important
}

.op-emp-map__input--emp-name:focus {
        border: 1px solid #66afe9;
        box-shadow: 0 0 8px #66afe9;
        box-shadow: 0 0 8px rgba(102,175,233,.6);
        outline: none;
    }

.op-emp-map__btn {
    border-radius: 4px;
    padding: 0;
    background-color: #5588ee;
    border-color: #06a7df;
    color: #ffffff
}

    .op-emp-map__btn:hover {
        box-shadow: 2px 2px 8px #000000;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        transform: translate(-1px, -1px);
        color: #282828;
        background: #00bfff;
        border-color: #00bfff;
    }

.op-emp-map__btn-oke {
    width: 60px
}

.op-emp-map__lb-gender {
    padding-left: 0 !important;
}

.op-emp-map__rd {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.op-emp-map__rd-male {
    margin-top: 0 !important;
    margin-left: -5px !important;
}

.op-emp-map__rd-cb--size {
    width: 20px;
    height: 20px
}

.hrm__sync-group-btn button {
    height: 32px;
    width: 70px;
    font-size: 15px;
    display: inline-block !important
}