.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    display: none;
    z-index: 907;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    max-height: 300px;
    position: relative;
    transition: all 1s ease-in-out;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 0;
        right: 4px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: black;
        }

    .popup .content {
        max-height: 30%;
    }

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.emp-popup--content {
    margin: 20px auto;
}

.emp-popup--content-value span {
    font-size: 14px;
}

.emp-popup--content-value {
    font-family: cursive;
    color: #000000
}

.emp-popup--content-rate-star {
    background: url("/Assets/hrm/common/img/rate-star.png");
    width: 100px;
    height: 16px;
    background-position: 0 -2px;
    display: inline-block
}
