<select id="drpGroupShow" class="form-control">
    <option value="GN">Group By OpGroup</option>
    <option value="GM">Group By Module</option>
    <option value="MC">Group By Machine</option>
</select>
