
<div class="row">
    <div class="col-xs-12">
        <div class="jqgrid-ops" id="divOps">
            <table id="gridOpsTableCon"></table>
            <div id="gridOpsPaperCon"></div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
