/*#region Common */
.panel-default {
    border: unset;
}

div.msgBox {
    z-index: 1600;
}

div.msgBoxContent {
    height: 90px !important;
    overflow-y: auto;
}

div.msgBoxBackGround {
    z-index: 1050;
}

.btn-group > .btn > .caret {
    border-top-color: #434343;
}

img {
    image-orientation: from-image;
}

.required-msg {
    color: red;
    margin-left: 50px;
    font-weight: bold;
    font-style: italic;
}

.page-title {
    display: none;
}

.ops-i {
    background-color: #1d5987;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

.panel-load-radio {
    margin-top: 1px !important;
}

/*Summary*/
.col-sum {
    padding: 0;
    height: 280px;
}

.sum-first-col {
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    font-size: 15px !important;
}

.sum-col-border {
    border: 1px solid #333333;
    font-size: 15px !important;
}

.col-sum-1 {
    width: 345px;
    display: inline-block;
}

.col-sum-2 {
    width: 205px;
    display: inline-block;
}

.opsum {
    min-width: 200px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-flex;
    resize: both;
}

.opsum-machine {
    width: 400px;
}

.opsum-textarea {
    width: 285px;
    height: 99px;
}

.opsum-btn-close {
    position: absolute;
    top: -3.5px;
    right: -13px;
    border: 0;
    background: 0 0;
    color: #333333;
    font-size: 18px;
    z-index: 1
}

    .opsum-btn-close:hover {
        color: #db524b
    }

.opsum-img {
    position: absolute;
    left: 180px;
    bottom: 32px;
    border: 1px solid #ddd;
    width: 163px;
    height: 170px;
}

.main-summary-img {
    max-width: 100%;
    max-height: 100%;
}

.sumtool-img {
    width: 32px;
    height: 30px;
    padding: 4px;
}

.current-date {
    font-size: 13px;
    right: 10px;
    bottom: 0;
    position: absolute;
    font-style: italic;
}

.op__hide {
    display: none;
}

.op-layout__btn {
    display: none;
    float: right;
    margin-right: 13px;
}

#drpLanguageOpMaster_msdd {
    cursor: pointer;
    width: 100% !important;
}
/*#endregion */

/*#region Ops-Layout */
/*#wid-op-layout {
    display: none !important;
}*/

/*STAR ADD - SON*/
.play-video {
    position: absolute;
    bottom: 13px;
    left: 5px;
    cursor: pointer;
}
/*END ADD - SON*/

.opslayout-surface {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0
}

.div-header-controls {
    margin-bottom: 10px;
    height: 34px;
}

textarea {
    word-break: break-all;
    width: 119px;
    height: 161px;
}

.div-op-name {
    margin-left: 10px;
}

#div-op-name {
    border: 1px solid #ddd;
}

.node-delete {
    color: #f76258;
}

.node-palette {
    margin-right: unset;
}

    .node-palette ul {
        display: inline-flex;
        margin-left: unset;
        margin-bottom: unset;
    }

        .node-palette ul li:not(:first-child) {
            margin-left: 4px;
        }

.ops-modal--summaries ul {
    padding-inline-start: 0;
}

#ppContent .row {
    margin-left: 0;
    margin-right: 0;
}

.controls span {
    color: white;
    background-color: #1d5987;
    border-radius: 4px;
    cursor: pointer;
}

.controls .glyphicons:before {
    padding: 4px 4px;
}

.first-controls {
    margin-right: 0;
}

.second-controls {
    margin-left: 85px;
}

.third-controls {
    margin-left: 137px;
}

.fourth-controls {
    margin-left: 255px;
}

.fifth-controls {
    left: 50%;
}

.controls-language {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 100;
}

.fifth-controls span {
    color: darkblue;
    background-color: transparent;
}

.fifth-controls i {
    width: 20px;
    text-align: center;
}

.fifth-controls input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.fifth-controls-input-page {
    height: 22px;
    width: 40px;
}

.ops-node {
    background-color: white;
    width: 120px;
    height: 190px;
}

.ops-node-change-page {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: cornflowerblue;
    cursor: pointer;
}

.ops-node-tool {
    position: absolute;
    left: 4px;
    bottom: 2px;
}

.delete-connection {
    cursor: pointer;
}

.node-text-hightlight {
    color: red !important;
}

.clone-mode {
    background-color: #db524b !important;
}
/*#endregion */

/*#region JsPanel */
.panel-footer {
    border: 1px solid #ddd;
}

#jsPanel-replacement-container, .jsPanel-minimized-box {
    z-index: 1049;
}

.panel-color {
    color: #434343 !important;
}

.jsPanel .ui-resizable-handle {
    display: none !important;
}

.jsPanel .jsPanel-hdr {
    border-radius: 3px;
}

.modal-groupmode {
    width: 350px;
}

.page-number {
    margin-left: 20px;
}

.modal-process {
    width: 500px;
    height: 100px;
}

.modal-process-col {
    height: 95px;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.modal-process-btn-toggle {
    min-width: 50px;
}

    .modal-process-btn-toggle i {
        margin: 0 !important;
        color: black !important;
    }

.modal-layout {
    width: 454px;
    height: 176px;
}

.font-layout-col {
    padding: 5px;
    border: 1px solid white;
}

    .font-layout-col table tr td:nth-child(2) {
        padding-left: 5px;
    }

.modal-layout-checkbox {
    width: 20px;
    height: 20px;
}

#panel-colorpicker .minicolors-input {
    padding-left: 35px;
    color: black !important;
}
/*#endregion */

/*#region Language dropdown list */
.panel-lang {
    margin-right: 30px;
}

.div-lang {
    margin-right: 5px;
    float: left;
    cursor: pointer;
}

.selected-lang {
    /*border: 1px solid #337ab7;*/
    float: right;
    /*width: 18px;
    height: 13px;*/
}

    .selected-lang:hover {
        background-color: #cccccc;
    }

.language-ul {
    margin: unset;
}

.div-lang-list img {
    float: unset;
}

.div-lang-list {
    width: 160px;
    position: relative;
    right: -3px;
    top: 27px;
    z-index: 1500;
    border-radius: 2px !important;
    margin-bottom: unset !important;
    border-top-color: #337ab7 !important;
}

    .div-lang-list:after {
        border: solid transparent;
        content: '';
        border-width: 7px;
        border-bottom-color: #337ab7 !important;
        top: -12px;
        right: 9px;
        position: absolute;
    }

.lang-body {
    padding: 2px !important;
    position: relative;
}

/*.selected-flag {
    margin: 4px;
}*/

    .selected-flag.df {
        background-image: url(/assets/country-dropdown/images/msdropdown/icons/pk-flag.png) !important;
    }

.contacts-title {
    color: #434343 !important;
    font-variant: normal;
    font-size: 13px
}
/*#endregion */

/*#region Fieldset and legend tags */
fieldset.scheduler-border {
    padding: 0 1.4em 1.4em 1.4em !important;
    -webkit-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    height: 100%;
    background-color: white;
}

legend.scheduler-border {
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-bottom: 5px;
    margin: 0 auto;
}

.op-name-label {
    width: 100%
}

.modal-fieldset {
    height: 100%;
    padding: 5px !important;
    background-color: inherit;
    border: 1px solid white;
}

    .modal-fieldset legend {
        margin: 0 auto;
        color: white;
    }
/*#endregion */

/*#region Multi-select dropdown list */
multiselect {
    display: inline;
}

    multiselect > .btn-group {
        min-width: 100%;
        width: 100%;
    }

    multiselect .btn {
        width: 100%;
        background-color: #FFF !important;
        border-width: 1px !important;
        color: #333 !important;
        text-shadow: unset !important
    }

        multiselect .btn.has-error {
            border: 1px solid red !important;
            color: #db524b !important;
        }

    multiselect .dropdown-menu {
        max-height: 300px;
        min-width: 200px;
        overflow-y: auto;
    }

        multiselect .dropdown-menu .filter > input {
            width: 99%;
        }

        multiselect .dropdown-menu .filter .glyphicon {
            cursor: pointer;
            pointer-events: all;
        }

    multiselect .dropdown-menu {
        width: 100%;
        box-sizing: border-box;
        padding: 2px;
    }

    multiselect > .btn-group > button {
        padding-right: 20px;
    }

        multiselect > .btn-group > button > .caret {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid black;
            right: 5px;
            top: 45%;
            position: absolute;
            margin-top: 0 !important;
        }

    multiselect .dropdown-menu > li > a {
        padding: 3px 10px;
        cursor: pointer;
        white-space: unset;
    }

        multiselect .dropdown-menu > li > a i {
            margin-right: 4px;
        }

    multiselect span {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.glyphicon-none:before {
    content: "\e013";
    color: transparent !important;
}

li[ng-if="enableFilter"] .form-group.has-feedback.filter {
    margin-right: 0;
    margin-left: 0;
}

.optool-multiselect ul {
    min-width: 350px;
}
/*#endregion */

/*#region Bootstrap modal */
.modal.fade.ng-scope.ng-isolate-scope {
    top: unset;
    bottom: unset;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .modal.fade.ng-scope.ng-isolate-scope:before {
        /*display: inline-block;*/
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-content {
    border-radius: 6px !important;
}
/*#endregion */

/*#region Tooltip for controls */
.number-input {
    width: 50px;
    height: 26px;
    padding: 0 !important;
    color: #434343 !important;
}

input.ng-invalid-required {
    color: red;
    border: 1px solid red;
}

[data-tip] {
    position: relative;
    display: inline-block;
}

    [data-tip]:before {
        content: '';
        /* hides the tooltip when not hovered */
        display: none;
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #1a1a1a;
        position: absolute;
        top: 30px;
        left: 35px;
        z-index: 8;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
    }

    [data-tip]:after {
        display: none;
        content: attr(data-tip);
        position: absolute;
        top: 35px;
        left: 0;
        padding: 5px 8px;
        background: #1a1a1a;
        color: #fff;
        z-index: 9999;
        font-size: 0.75em;
        height: 27px;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        white-space: nowrap;
        word-wrap: normal;
    }

    [data-tip]:hover:before,
    [data-tip]:hover:after {
        display: block;
    }
/*#endregion */

/*#region Media print */

@media print {
    a[href]:after {
        content: none !important;
    }

    body * {
        -webkit-print-color-adjust: exact;
        visibility: hidden;
    }

    .jtk-ops-canvas {
        max-height: unset;
    }

    #jsPlumb_2_1, #jsPlumb_2_1 *, .opSum, .opSum * {
        visibility: visible;
    }

    #jtk-ops-groups .controls, #jtk-ops-groups .controls *, #miniview, #miniview *, .controls-language, .controls-language *,
    .jtk-surface-pan, .jtk-surface-pan *, .delete-connection, .delete, .delete *, .group-title button, .play-video,
    .play-video * {
        visibility: hidden !important;
    }

    .opmt-table, .opsum-btn-close, #opsmodal, #opsModal, .daterangepicker, .page-footer, #modalProcess, div[floating-panel],
    .modal-custom, #left-panel, #wid-op-grids, #imgPreviewDt, #mdlPatternPreview, .demo, #shortcut, #header, header[role="heading"] {
        display: none;
    }
}

.print-visibility {
    visibility: visible !important;
}

/*print image*/
a.printer:after {
    content: none !important;
}

body.printer-body * {
    -webkit-print-color-adjust: exact;
    visibility: hidden;
}

.jtk-ops-canvas-printer {
    max-height: unset;
}

/*#jsPlumb_2_1, #jsPlumb_2_1 *, .opSum, .opSum * */
.printer-all * {
    visibility: visible;
}
/*
#jtk-ops-groups .controls, #jtk-ops-groups .controls *, #miniview, #miniview *,
.jtk-surface-pan, .jtk-surface-pan *, .delete-connection, .delete, .delete *, .group-title button 
    */
.printer-all2 * {
    visibility: hidden !important;
}

/*.opmt-table, .opsum-btn-close, #opsmodal */
.printer-btn {
    display: none !important;
}

/*#endregion */

/*#region Color picker and font */
.minicolors-swatch {
    z-index: 2;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.minicolors-swatch-color {
    color: #434343;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button-colorpicker {
    margin-top: 4px;
    color: #434343 !important;
}

.div-color-list {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1500;
}

    .div-color-list:after {
        border: solid transparent;
        content: '';
        border-width: 7px;
        border-bottom-color: whitesmoke !important;
        top: -12px;
        left: 10px;
        position: absolute;
        z-index: 1500;
    }

.color-body {
    height: 140px;
    overflow-y: auto;
    position: fixed;
}

.items-color {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #ccc;
}

.div-color {
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: 6px;
}
/*#endregion */

/*#region Own modal */
.ops-modal {
    /*height: 25px;*/
    background-color: #3f51b5;
    position: absolute;
    z-index: 999;
    border-radius: 2px;
}

.ops-modal--summaries {
    top: 52px;
    left: 340px;
}

.ops-modal--opt {
    width: 265px;
    top: 52px;
    left: 304px;
}

.grp-sum {
    position: absolute;
    top: 20px;
    left: 5px;
}

.opslayout-modal {
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 999;
}

.save-modal {
    min-width: 250px;
    cursor: move;
    border-radius: 2px;
    background-color: cornflowerblue;
}

.ops-modal-controls ul {
    display: block;
}

.save-modal-tittle {
    font-size: 16px;
    border-bottom: 1px solid white;
}

.save-modal-tittle-content {
    color: white;
    margin: 3px 0 3px 10px;
}

.save-modal-row {
    display: block;
}

.save-modal-remarks {
    height: 50px;
    width: 100%;
    resize: none;
    vertical-align: top
}

.save-modal-col {
    float: left;
    display: block;
    width: 50%;
}

.save-modal-btn {
    background-color: #428bca;
    width: 200px;
    height: 100px;
    color: white;
}

    .save-modal-btn:hover, .save-modal-btn:active {
        background-color: #1b6aaa;
        border-color: #428bca;
    }

    .save-modal-btn[disabled] {
        background-color: ButtonShadow;
        border-color: buttonface;
        opacity: unset !important;
    }

.ops-modal-btn-close {
    position: absolute;
    right: 0;
    top: 0;
    background: 0 0;
    color: white;
    border: 0;
}

    .ops-modal-btn-close:hover {
        color: #434343;
    }

.ops-modal-controls div {
    color: #FFF;
    display: inline-block;
}

.ops-modal-controls i {
    color: #1d5987;
    background-color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}

.ops-modal-controls--radio {
    display: block !important
}

.ops-modal-i {
    margin-left: 10px;
}
/*#endregion Own modal */

/*#region Operation plan modal*/
.mes-layout__optime-input {
    width: 100%;
}
/*#endregion*/