<style>
    #dragItemID {
        z-index: 1001;
    }

    #divtaget, .modal-boxtitle {
        float: left;
        font-weight: bold;
        width: 100%;
    }

    .contain {
        width: 100%;
    }

    .imgpattern {
        width: 60px;
        height: 20px;
    }

    .sopened:before {
        font-family: 'FontAwesome';
        content: "\f068";
    }

    .sgcollapsed a span.ui-icon-plus:before {
        font-family: 'FontAwesome';
        content: "\f067";
    }

    .sgexpanded a span.ui-icon-minus:before {
        font-family: 'FontAwesome';
        content: "\f068";
    }
    /*
    .dropactive {
        background-color: aqua;
    }*/
    .drophover, .drophover * {
        background-color: aqua;
    }

    table.table tr {
        background-color: #d8f5da;
        color: blue;
    }

    .tb-contain {
        width: 100%;
    }

    .table-title {
        padding-left: 10px;
    }

    .aling {
        margin: 5px;
    }

    .spandpattern {
        color: Green;
    }

    .modal.modal-custom.pattern-bom .modal-lg {
        max-width: 1150px;
    }

    .memberAction {
        color: blue;
        cursor: pointer;
    }

    .rowdragg {
        display: table-cell;
        vertical-align: middle;
    }

    .DraggAllItem {
        cursor: move;
        display: table;
        width: 200px;
        height: 50px;
        text-align: center;
        border: 1px solid red;
        background-color: #d8f5da;
        font-size: 18px;
        color: blue;
    }

    .Linked {
        background-color: #FAAC58;
    }

    .child-droppable .jqgrow {
        cursor: pointer;
    }

    .jsPanel-btn-close {
        display: none !important;
    }

    .ui-jqgrid .ui-icon-plus:before {
        content: "\2b";
    }

    #Operation_Grid .ui-jqgrid-bdiv, #OperationGrid .ui-jqgrid-bdiv, #OperationGridMc .ui-jqgrid-bdiv {
        overflow-x: hidden;
    }
    #divLink{
        overflow-x:scroll;
    }
</style>

<div class="clearfix"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#patternLinking">Patterns
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#toolLinking">Tools
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#machineLinking">Machines
                    </a>
                </li>
            </ul>

            <div class="tab-content">

                <div id="patternLinking" class="tab-pane fade in active">
                    <div class="row">
                        <table id="Operation_Grid"></table>
                    </div>
                </div>

                <div id="toolLinking" class="tab-pane fade">
                    <div class="row">
                        <table id="OperationGrid"></table>
                    </div>
                </div>
                <div id="machineLinking" class="tab-pane fade">
                    <div class="row">
                        <table id="OperationGridMc"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>

<div class="modal fade modal-custom" id="modalImage" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg " style="max-width: 350px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Image</h4>
            </div>
            <div class="modal-body">
                <img class="modal-content img img-responsive" onerror="imgError(this);" style="max-width:100% ;max-height: 400px;" id="modalShowimage">
            </div>
        </div>
    </div>
</div>



<div id="PatternModel" class="modal fade modal-custom pattern-bom" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="hTitle">BOM & Pattern Linking</h4>
            </div>

            <div class="modal-body">
                <div class="modal-body-custom" style="display: none">

                    <div class="contain" style="display: none">
                        <table class="tb-contain">

                            <tr>
                                <td>
                                    <p class="table-title">OP Number :</p>
                                </td>
                                <td><span class="spandpattern" id="sbItemCode">&nbsp;</span></td>
                            </tr>
                            <tr style="display: none">
                                <td>
                                    <p class="table-title">
                                        <input id="cbInput" type="checkbox" checked="checked" />
                                        Input
                                    </p>
                                </td>
                                <td>
                                    <p class="table-title">
                                        <input id="cbOutput" type="checkbox" />
                                        Output
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="validateUpdate" class="alert alert-danger" style="display: none">
                </div>

                <div class="modal-body-custom" id="divUpdate">
                    <div class="contain">
                            <div class="modal-boxtitle">&nbsp;&nbsp;Target Process: <span class="spandpattern" id="sbItemName2">&nbsp;</span></div>
                            <div class="space-1" style="clear: both"></div>
                            <hr style="clear: both" />
                            <div class="space-1" style="clear: both"></div>
                            <table class="tb-contain">
                                <tr>
                                    <td>
                                        <p class="table-title" id="bomorPattern">Name:</p>
                                    </td>
                                    <td colspan="3">
                                        <p class="spandpattern" id="txtName"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="table-title">Piece Qty</p>
                                    </td>
                                    <td>
                                        <input id="txtQty" onkeypress="return isNumberKey('txtQty')" class="form-control" type="number" value="" /></td>
                                    <td>
                                        <p class="table-title aling">Unit Consumption</p>
                                    </td>
                                    <td style="float: left">
                                        <table>
                                            <tr>
                                                <td>
                                                    <input id="txtUnitConsumption" style="width: 180px; margin-right: 5px;" onkeypress="return isNumberKey('txtUnitConsumption')" class="form-control" type="number" value="" /></td>
                                                <td>
                                                    <div style="width: 200px">
                                                        <select id="cbConsumpUnit" data-placeholder="Select Consumtion Unit" class="form-control"></select></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                </div>
                <div class="modal-body-custom" id="divLink">
                    <div id="divtaget" class="modal-boxtitle">Target Process: <span class="spandpattern" id="sbItemName">&nbsp;</span></div>
                    <div class="space-1" style="clear: both"></div>
                    <hr style="clear: both" />
                    <div class="space-1" style="clear: both"></div>
                    <div id="modarow" class="row">
                        <table id="DataTempGrid" class="scroll" style="width: 100%;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAddPattern" onclick="AddProtToSession();" class="btn btn btn-primary btn-modal">Link</button>
                <button type="button" id="btnCancelAddPattern" class="btn btn-primary btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div style="display: none">
    <input type="text" id="ItemColorSerial" value="" />
    <input type="text" id="MainItemColorSerial" value="" />
    <input type="text" id="PatternSerial" value="" />
    <input type="text" id="GridDragg" value="" />
    <input type="text" id="rowSelect" value="" />
</div>
<div id="warning" class="modal fade modal-custom pattern-bom">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong id="warning-title"></strong>
            </div>
            <div class="modal-body">
                <div class="modal-body-custom">
                    <div class="modal-content-ops">
                        <span id="waring-body"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
