<div class="row">
    <div class="col-md-12" id="FileloadingOption" style="background-color:lavenderblush;">
        <input type="file" id="uploadFile" name="file" accept=".mp4,.ogg,.ogv,.wav" />
        <input type="submit" name="Submit" id="btnUpload" value="Upload Files" />
    </div>
</div>