<select name="countries" class="form-control" id="drpLanguages">
    <option value="df" data-image="/assets/country-dropdown/images/msdropdown/icons/pk-flag.png" data-imagecss="" data-title="Default Language">Default</option>
    <option value="gb" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-gb" data-title="English">English</option>
    <option value="vn" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-vn" data-title="Tiếng Việt">Tiếng Việt</option>
    <option value="id" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-id" data-title="Bahasa">Bahasa</option>
    <option value="mm" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-mm" data-title="မြန်မာဘာသာ">မြန်မာဘာသာ</option>
    <option value="et" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-et" data-title="Amharic"> Amharic</option>
</select>  
