
@*<link href="~/css/ops/menu/menu.css" rel="stylesheet" />*@

<button type="button" class="btnAdd btn-menu btn mr-1 shadow-z-2 btn-success">
    <span class="glyphicon glyphicon-plus-sign"></span> Add
</button>
<button type="button" class="btnSave btn-menu btn mr-1 shadow-z-2 btn-success">
    <span class="glyphicon glyphicon-floppy-disk"></span> Save
</button>
<button type="button" class="btnEdit btn-menu btn mr-1 shadow-z-2 btn-primary">
    <span class="glyphicon glyphicon-edit"></span> Edit
</button>
<button type="button" class="btnConfirm btn-menu btn mr-1 shadow-z-2 btn-success" >
    <span class="glyphicon glyphicon-ok-circle"></span> Confirm
</button>
<button type="button" class="btnDelete btn-menu btn mr-1 shadow-z-2 btn-danger">
    <span class="glyphicon glyphicon-trash"></span> Delete
</button>
<button type="button" class="btnCancel btn-menu btn mr-1 shadow-z-2 btn-danger">
    <span class="glyphicon glyphicon-remove"></span> Cancel
</button>
