@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QCO Package Material Readiness</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

    @* jqGrid *@
    <link href="~/js/plugin/jqgrid/css/ui.jqgrid.min.css" rel="stylesheet" />
    <link href="~/js/plugin/jqgrid/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/js/plugin/jqgrid/css/jquery-ui-custom.min.css" rel="stylesheet" />


    @* FancyBox *@
    <link href="~/Assets/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet" /> 

    <style>
        #alertmod_QCODetailGrid {
            display: none !important;
        }

        .readonlyInput {
            background-color: rgba(0,0,0,.1);
            color: black;
            font-size: 1.2em;
            font-weight: bold;
            border-radius: 4px;
            background-image: none;
            border: 1px solid #ccc;
        }
        
        .mt-05 {
            margin-top: calc(0.5%);
        }
        
    </style>
</head>
<body style="height:600px;">
    <div class="container-fluid"> 
        <div class="row mt-05">
            <form class="">
                <div class="col-lg-2">
                    <div class="row">
                        <label class="col-lg-3">Factory</label>
                        <input class="readonlyInput col-lg-4" type="text" id="Factory" disabled="disabled" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <label class="col-lg-6">LineNo</label>
                        <input class="readonlyInput col-lg-4" type="text" id="LineNo" disabled="disabled" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <label class="col-lg-3">AONO - Production Package</label>
                        <input class="readonlyInput col-lg-6" type="text" id="AONO" disabled="disabled" />
                    </div>
                </div>
            </form>
        </div>

        <div class="row mt-05">
            <form class="">
                <div class="col-lg-4">
                    <div class="row">
                        <label class="col-lg-5">Style Code - Buyer Style Code</label>
                        <input class="readonlyInput col-lg-5" type="text" id="StyleCode" disabled="disabled" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <label class="col-lg-6">Style Color#</label>
                        <input class="readonlyInput col-lg-6" type="text" id="StyleColorSerial" disabled="disabled" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <label class="col-lg-6">Style Size - Rev No</label>
                        <input class="readonlyInput col-lg-6" type="text" id="StyleSize" disabled="disabled" />
                    </div>
                </div>

            </form>
        </div>

        <div class="mt-05">
            <table id="QCODetailGrid"></table>
            <div id="QCODetailGridPager"></div>
        </div>
        
    </div>
     
    @* Jquery *@
    <script type="text/javascript" src="@Url.Content("~/js/libs/jquery-3.2.1.min.js")"></script>
     
    @* jqGrid *@
    <script type="text/javascript" src="@Url.Content("~/js/plugin/jqgrid/jquery.jqGrid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugin/jqgrid/grid.locale-en.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugin/jqgrid/Common.js")"></script>

    <script>
        /*********************************************************************/
        //Object Decleration
        var Factory = getParameterByName('Factory');
        var LineNo = getParameterByName('LineNo');
        var AONO = getParameterByName('AONO');
        var StyleCode = getParameterByName('StyleCode');
        var StyleSize = getParameterByName('StyleSize');
        var StyleColorSerial = getParameterByName('StyleColorSerial');
        var RevNo = getParameterByName('RevNo');
        var PRDPKG = getParameterByName('PRDPKG');

        //2019-04-23 Tai Le (Thomas)
        var QCOYEAR = getParameterByName('QCOYEAR');
        var QCOWEEK = getParameterByName('QCOWEEK');
         
        /////////////////////////////
        var Grid;
        var jqGridElem = 'QCODetailGrid';

        var jqGridURL = '/QCO/BindQCODetail' + "/?Factory=" + Factory
            + '&LineNo=' + LineNo
            + '&AONo=' + AONO
            + '&StyleCode=' + StyleCode
            + '&StyleSize=' + StyleSize
            + '&StyleColorSerial=' + StyleColorSerial
            + '&RevNo=' + RevNo
            + '&PrdPkg=' + PRDPKG
            + '&QCOYEAR=' + QCOYEAR
            + '&QCOWEEK=' + QCOWEEK
            ;

        var jqGridDataType = 'json';

        var jqGridcolModels = [];
        jqGridcolModels.push({ name: 'FACTORY', index: 'FACTORY', label: 'FACTORY', align: 'center', width: 80, hidden: true });
        jqGridcolModels.push({ name: 'LINENO', index: 'LINENO', label: 'LINE<BR/>NO', align: 'center', width: 80, hidden: true });

        jqGridcolModels.push({ name: 'AONO', index: 'AONO', label: 'AONO', align: 'center', width: 100, hidden: true });

        jqGridcolModels.push({ name: 'STYLECODE', index: 'STYLECODE', label: 'STYLE<BR/>CODE', align: 'right', width: 100, hidden: true });
        jqGridcolModels.push({ name: 'STYLENAME', index: 'STYLENAME', label: 'STYLE<BR/>NAME', align: 'left', width: 100, hidden: true });

        jqGridcolModels.push({ name: 'STYLESIZE', index: 'STYLESIZE', label: 'STYLE<BR/>SIZE', align: 'center', width: 100, hidden: true });
        jqGridcolModels.push({ name: 'STYLECOLORSERIAL', index: 'STYLECOLORSERIAL', label: 'STYLE<BR/>COLOR SERIAL', align: 'left', width: 200, hidden: true });
        jqGridcolModels.push({ name: 'REVNO', index: 'REVNO', label: 'REVNO', align: 'center', width: 80, hidden: true });

        jqGridcolModels.push({ name: 'PRDPKG', index: 'PRDPKG', label: 'PACKAGE ID', align: 'center', width: 300, hidden: true });

        //jqGridcolModels.push({ name: 'MAINITEMCODE', index: 'MAINITEMCODE', label: 'MAIN<BR/>ITEM CODE', align: 'center', width: 125 });
        //jqGridcolModels.push({ name: 'MAINITEMCOLORSERIAL', index: 'MAINITEMCOLORSERIAL', label: 'MAIN ITEM<BR/>COLOR SERIAL', align: 'center', width: 125 });

        jqGridcolModels.push({ name: 'ITEMCODE', index: 'ITEMCODE', label: 'ITEM CODE', align: 'left', width: 125 });
        jqGridcolModels.push({ name: 'ITEMNAME', index: 'ITEMNAME', label: 'ITEM NAME', align: 'left', width: 500 });

        jqGridcolModels.push({ name: 'ITEMCOLORSERIAL', index: 'ITEMCOLORSERIAL', label: 'ITEM<BR/>COLOR SERIAL', align: 'left', width: 200 });

        jqGridcolModels.push({ name: 'REQUESTQTY', index: 'REQUESTQTY', label: 'REQUEST<BR/>QTY', align: 'right', width: 125, formatter: 'number' });

        jqGridcolModels.push({ name: 'QUANTITY_A', index: 'QUANTITY_A', label: 'RECEIVED QTY', align: 'right', width: 125, formatter: 'number' });
        jqGridcolModels.push({ name: 'QUANTITY_B', index: 'QUANTITY_B', label: 'ETA IN 5 DAYS', align: 'right', width: 125, formatter: 'number' });
        jqGridcolModels.push({ name: 'QUANTITY_C', index: 'QUANTITY_C', label: 'ETA IN 10 DAYS', align: 'right', width: 125, formatter: 'number' });
        jqGridcolModels.push({ name: 'QUANTITY_D', index: 'QUANTITY_D', label: 'ETA > PACKAGE<br/>START DATE', align: 'right', width: 125, formatter: 'number' });
        jqGridcolModels.push({ name: 'PLANQUANTITY', index: 'PLANQUANTITY', label: 'PLAN<BR/>QUANTITY', align: 'right', width: 125, formatter: 'number', hidden: true });

        jqGridcolModels.push({
            name: 'MATERIALREADINESS', index: 'MATERIALREADINESS', label: 'WEIGHTAGE', align: 'right', width: 125, formatter: function (cellValue, opts, rowObject) {
                /*console.log(rowObject);*/
                return (rowObject.QUANTITY_A + rowObject.QUANTITY_B + rowObject.QUANTITY_C + rowObject.QUANTITY_D) / rowObject.REQUESTQTY;
            }
        });

        Grid = CreateJqGridObjectWithRowFooter(jqGridElem, jqGridURL, jqGridDataType, jqGridcolModels, false, '', 500);


        /*Set jqGrid Height*/
        Grid.jqGrid('setGridHeight', '400');

        /*********************************************************************/
        //Events
        $(document).ready(function () {
            $('#Factory').val(getParameterByName('Factory'));
            $('#LineNo').val(getParameterByName('LineNo'));
            $('#AONO').val(getParameterByName('AONO') + ' - ' + getParameterByName('PRDPKG'));
            $('#StyleCode').val(getParameterByName('StyleCode') + ' (PKERP)');
            $('#StyleSize').val(getParameterByName('StyleSize') + ' - ' + getParameterByName('RevNo'));
            $('#StyleColorSerial').val(getParameterByName('StyleColorSerial'));
            //$('#RevNo').val(getParameterByName('RevNo'));
            //$('#PRDPKG').val(getParameterByName('PRDPKG'));
        });

        /*********************************************************************/
        //User-defined Function
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            url = url.toLowerCase();

            name = name.toLowerCase();
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " ")).toUpperCase();
        }
    </script>

</body>
</html>
