@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_MesLayout.cshtml";
}

<link href="~/Assets/animate.css/animate.min.css" rel="stylesheet" />
<link href="~/css/PageNotFound.css" rel="stylesheet" />
  
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center error-box">
                    <h1 class="error-text-2 bounceInDown animated"> Warning</h1>
                    @*<span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span>*@
                    <br>
                    <p class="lead">
                        You are not authorized to view this page
                    </p> 
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>