<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Viet Nam MES Mys SqL connection -->
    <add name="MySqlMesConnection" connectionString="Server=203.113.146.146;Database=mes;Uid=root;Pwd=pkerp@2017;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />

    <!--Indonesia MES Mys SqL connection -->
    <!--<add name="MySqlMesConnection" connectionString="Server=183.81.158.139;Port=3360;Database=mes;Uid=MySQL80.MESLocalAdmin;Pwd=MESLocalAdmin@)!(;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

    <!--DGS Mys SqL connection -->
    <add name="MySqlDgsConnection" connectionString="Server=125.234.135.55;Database=dgssystemdb_02;Uid=root;Pwd=abc123!@#;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />

    <!--PKMes connection string-->
    <add name="PkMes" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PKERP)));User Id=PKMES;Password=PKMES@)!*; " />

    <!--ERPTest connection string-->
    <!--<add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=pk@5471;" providerName="Oracle.ManagedDataAccess.Client" />-->

    <!--ERPTest New connection string-->
    <add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.1.73)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=PKERP@()$@K16;" providerName="Oracle.ManagedDataAccess.Client" />

    <!--ERP connection string-->
    <!--<add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=PKERP@()$@K16;" providerName="Oracle.ManagedDataAccess.Client" />-->

  </connectionStrings>
</configuration>