html, body {
    height: 100%
}

.ops__page-content {
    height: 100%
}

.wrapper.nav-collapsed {
    height: 100%
}

.container-fluid {
    background-color: #edeef5;
    /*height: 1366px;*/
    height: 100%;
    padding-top: 2.2rem;
}

.op__header-layout {
    display: none
}

.card-header {
    /*display: none;*/
    height: 20px;
    position: relative;
    /*border-bottom: 1px solid #ccc*/
}

.circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 2rem;
    position: relative;
    margin: 0 auto;
    padding: 1px;
    top: -78px;
}

.circle2 {
    background: #49aaef;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    margin-left: 2rem;
    position: absolute;
    top: -35px
}

.grey-circle {
    background: #edeef5;   
    /* M.O edits*/
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -40px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    background-image: linear-gradient(to bottom right, #ffffff, #edeef5);
}

.rounded-0 {
    width: 2.2em;
    display: block;
    margin: 8px;
}

.circle3 {
    background: #5eba90;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 2.5rem;
    position: absolute;
    top: -25px;
}

.circle4 {
    background: #6161ec;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 2.5rem;
    position: absolute;
    top: -25px;
}

.circle5 {
    background: #f4ab3c;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 2.5rem;
    position: absolute;
    top: -25px;
}

.circle6 {
    background: #f10075;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 2.5rem;
    position: absolute;
    top: -25px;
}

.circle7 {
    background: #335aa2;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 2.5rem;
    position: absolute;
    top: -25px;
}

.white-circle {
    background: #edeef5;
    width: 3.3em;
    height: 3.3em;
    border-radius: 50%;
    margin-left: 3.3rem;
    margin: 0 auto;
    position: relative;
    top: -24px;
}

.rounded-circle {
    width: 1.3em;
    display: block;
}

.card-body {
    height: 100% !important;
}

/*.btn {
    color: #49aaef !important;
    background-color: inherit !important;
    padding-top: 3rem !important;
    padding: revert !important;
    margin-top: 3rem;
    border-color: #fff !important;
}*/

.btn2 {
    color: #c87ece !important;
    background-color: inherit !important;
    padding-top: 3rem !important;
    padding: revert !important;
    margin-top: 3rem;
    border-color: #fff !important;
}

.btn3 {
    color: #5eba90 !important;
    background-color: inherit !important;
    padding-top: 3rem !important;
    padding: revert !important;
    margin-top: 3rem;
    border-color: #fff !important;
}

.btn4 {
    color: #6161ec !important;
    background-color: inherit !important;
    padding-top: 3rem !important;
    padding: revert !important;
    margin-top: 3rem;
    border-color: #fff !important;
}

.btn5 {
    color: #f4ab3c !important;
    background-color: inherit !important;
    padding-top: 3rem !important;
    padding: revert !important;
    margin-top: 3rem;
    border-color: #fff !important;
}

.btn6 {
    color: #f10075 !important;
    background-color: inherit !important;
    padding-top: 3rem !important;
    padding: revert !important;
    margin-top: 3rem;
    border-color: #fff !important;
}

.btn7 {
    color: #335aa2 !important;
    background-color: inherit !important;
    padding-top: 3rem !important;
    padding: revert !important;
    margin-top: 3rem;
    border-color: #fff !important;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
    padding: 0 5px
}

.card {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    float: left;
    z-index: 12;
    display: flex;
    flex-flow: column;
    background-color: white
}

.op__process-mc-info {
    height: 25px;
    width: 98%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #49aaef;
    padding: 4px;
    position: absolute;
    bottom: 22px;
    background: white;
    font-weight: bold
}

.jtk-node {
    overflow: unset !important;
    border: unset !important;
    background-color: white;
    /*-moz-box-shadow: 10px 10px 5px #808080;
    -webkit-box-shadow: 10px 10px 5px #808080;
    box-shadow: 10px 10px 5px #808080;*/
    box-shadow: 0 8px 20px 0 #8e9dbe, 0 8px 20px 0 #8e9dbe;
    box-shadow: 0 8px 20px 0 rgba(142, 157, 190, 0.5), 0 8px 20px 0 rgba(142, 157, 190, 0.5);
}

.process-title {
    margin: 0 !important
}

#jsPlumb_2_1 {
    background-color: #edeef5 !important;
}

.op__op-name {
    height: 74%;
    width: 100%;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden
}

    .op__op-name h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold
    }

    .op__op-name p {
        margin-bottom: 5px;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden
    }

.op__controls {
    width: 100%;
    position: absolute;
    /*padding: 2px 5px;*/
    background-image: linear-gradient(to right, #fc6586, #53bbfd) !important;
    border-radius: 0 0 1px 1px;
    bottom: 0;
    right: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center
}

    .op__controls span {
        cursor: pointer
    }

.op__control-icon {
    /*width: 96px;
    margin: 0 auto*/
}

    .op__control-icon svg {
        display: inline-block;
        color: white;
        margin-right: 17%;
        cursor: pointer
    }

    .op__control-icon img {
        margin-bottom: 3px;
    }

.op__control-icon-flag1 {
    float: left
}

.op__control-icon-flag2 {
    float: right
}

.op__node--flag {
    width: 100%;
    padding: 5px 7px;
    position: absolute;
    top: 0
}

.op__process-connect {
    display: inline-block;
    color: #fff;
    width: unset;
    height: 17.5px;
    position: unset
}

.op__delete-process {
    color: red;
    margin: 0 auto;
    display: block;
    width: 12px
}

.op__header-cog {
    font-size: 18px
}

.op_process-video {
    display: inline-block;
    float: left
}

.op__selected-view-type {
    background-color: white;
    width: 18px;
    height: 18px;
    margin-top: 3px
}

.op__view-type-ul {
    right: 151px;
    top: 2px
}

.language-ul {
    right: 130px
}

.div-lang-list:after {
    right: 2px
}

.op__process-rect--flag {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #ccc;
    padding: 5px
}

    .op__process-rect--flag svg {
        float: right;
        transform: rotate(-10deg)
    }

.vd-list {
    height: 68px;
    width: 100%;
    border: 1px solid #ccc;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}

.op-vd-tag {
    height: 48px;
    cursor: pointer;
    margin: 1px;
    display: inline-block
}

.op-vd-tag--main-highlight {
    border: 1px solid #f00;
    margin-right: 50px
}

#dvVideoOpsDetail video {
    width: 100%;
    max-height: 400px;
}

#mdlProcessDetail .img-op-icon {
    width: 100%;
    height: 100%
}

/*this just for viewing, do not push to TFS*/
#imgOpIcon1 {
    background-color: red
}

#imgOpIcon2 {
    background-color: blue
}

#imgOpIcon3 {
    background-color: yellow
}

#imgOpIcon4 {
    background-color: rgb(0, 191, 255)
}

#imgOpIcon5 {
    background-color: rgb(255, 0, 64)
}
/*this just for viewing, do not push to TFS*/

#mdlProcessDetail .arrow-op {
    height: 132px !important
}

.jtk-miniview-collapse {
    line-height: 26px
}

/* M.O edits*/
/*.op__controls {
    background-image: linear-gradient(to right, #1488cc, #2832b2);
}*/
.op__control-div:after {
    background-color: #34425a !important;
}

#ddlModule .btn-group .btn.btn-default.dropdown-toggle {
    box-shadow: none !important;
}
    #ddlModule .btn-group .btn.btn-default.dropdown-toggle .pull-left{
        text-align: left;
    }
    #txtPageNo {
        width: 226px !important;
        border: none !important;
    }
.btn-primary-mo {
    background-color: #7f8fb1 !important;
    border-color: #7f8fb1;
}
.btn-primary-mot {
    background-color: #7f8fb1 !important;
    border-color: #7f8fb1;
}
/*M.O has edited*/