#mdlProcessDetail .def-mul-op {
    display: inline-block;
    height: 80px;
    width: 90px;
    display: table-cell;
    vertical-align: middle;
}

#mdlProcessDetail.modal.modal-custom .modal-lg {
    width: 95% !important
}

#mdlProcessDetail .img-preview {
    height: 150px !important;
}

#mdlProcessDetail .video-preview {
    min-height: 150px !important;
}

#mdlProcessDetail .div-video-preview {
    height: 150px;
}

#mdlProcessDetail .div-img-preview {
    height: 150px;
}

#mdlProcessDetail .play-vid-mdl {
    width: 99%
}

#mdlProcessDetail .arrow-op-style {
    font-size: xx-large
}

#mdlProcessDetail .arrow-op {
    display: inline-block;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}
