<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--MES My SqL connection-->
    <!--<add name="MySqlMesConnection" connectionString="Server=203.113.146.146;Database=mes;Uid=root;Pwd=pkerp@2017;Allow User Variables=True;" providerName="MySql.Data.MySqlClient"/>-->

    <add name="MySqlMesConnection" connectionString="Server=203.113.151.219;Database=mes;Uid=pkmes;Pwd=pkmes@)@);Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />

    <!--Indonesia MES Mys SqL connection -->
    <!--<add name="MySqlMesConnection" connectionString="Server=183.81.158.139;Port=3360;Databa0se=mes;Uid=MySQL80.MESLocalAdmin;Pwd=MESLocalAdmin@)!(;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->
    
    <!--DGS Mys SqL connection -->
    <add name="MySqlDgsConnection" connectionString="Server=125.234.135.55;Database=dgssystemdb_02;Uid=root;Pwd=abc123!@#;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
    
    <!--PKMes connection string-->
    <add name="PkMes" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PKERP)));User Id=PKMES;Password=PKMES@)!*; " />
    
    <!--ERPTest connection string-->
    <add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=pk@5471;" providerName="Oracle.ManagedDataAccess.Client" />
    
    <!--ERP connection string-->
    <!--<add name="OdpConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PKERP)));User Id=PKERP;Password=PKERP@()$@K16;" providerName="Oracle.ManagedDataAccess.Client" />-->
  
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <!--<add key="Shortpath" value="~/upload/files/" />-->
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="OpsVideoPath" value="~/assets/ops-fileupload/videos/" />
    <add key="VideoServerLink" value="http://video.pungkookvn.com:8888/api/Media/Play?fol=" />
    <add key="OpsVideoProcessPath" value="~/assets/ops-fileupload/videos/operationvideos/" />
    <add key="OperationFilePath" value="~/assets/ops-fileupload/files/" />
    
    <!--Temporary folder-->
    <add key="TemporaryFolder" value="~/assets/ops-fileupload/temp/" />

    <add key="pkfilefolder" value="~/pkfile/video" />
    
    <!--PKPDM folder-->
    <add key="PKPDMFolder" value="D:\PKPDM\" />
    
    <!--Server number-->
    <add key="ServerNo" value="1" />
    
    <!--Style Image-->
    <add key="OpsStyleImagePath" value="D:\Workspace\pkpdm\uploads\" />
    
    <!--Operation Images-->
    <!--<add key="ProcessImageDirectory" value="D:\Workspace\ops\ProcessImages\" />
    <add key="PorcessImageHostDirectory" value="/ops/ProcessImages/" />-->
    <!-- Operation Images for running localohost -->
    <add key="ProcessImageDirectory" value="G:\PK Solutions\Ops-New\OPS\pkfile\image\" />
    <add key="PorcessImageHostDirectory" value="http://localhost:6198/pkfile/image/" />
    
    <!--Ftp process video information-->
    <!--<add key="VideoProcessHttpLink" value="http://203.113.151.201/ops/operationvideos/" />-->
    <add key="VideoProcessHttpLink" value="http://203.113.151.204:8080/BETAPDM/test/" />
    <add key="FtpOpVideoUser" value="FTPUser" />
    <add key="FtpOpVideoPassword" value="pk2FTP2016" />
    <add key="FtpOpVideoDirectory" value="ftp://203.113.151.204/BETAPDM/test/" />
    <add key="OperationToolsImageDirectory" value="D:\Workspace\ops\ToolImages\" />
    <add key="LineBalacingTemplateFolder" value="~/assets/excel-files/templates/line-balancing/" />
    <add key="ExportingFolder" value="~/assets/excel-files/exporting/" />
    <add key="TptShare" value="TPTSHARE" />
    
    <!--Email information-->
    <add key="EmailAddress" value="plm@pungkookvn.com" />
    <add key="EmailPassword" value="pkplm@pkerp" />
    <add key="SmtpClient" value="mail.pungkookvn.com" />
    <add key="Port" value="25" />
    <add key="OraTimeout" value="3" />

    <!--For uploading process icons-->
    <add key="ProcessIcon" value="D:\workspace\ops\processIcons\" />
    <!--<add key="ProcessIconHost" value="http://118.69.170.24:8005/ops/processIcons/"/>-->

    <!--For testing-->
    <add key="ProcessIconHost" value="http://localhost:6198/pkfile/process-icon/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="On" defaultRedirect="Error/Error" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="12288" executionTimeout="180" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" slidingExpiration="true" />
    </authentication>
    <sessionState timeout="2880" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.111.6.0" newVersion="2.111.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>