<!-- Modal register new operation plan -->
<div class="modal fade modal-custom" id="opsModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Copy / Register new operation plan</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-custom">
                    <div class="modal-content-ops">
                        <div class="row mes__opmt-modal--row">
                            <!-- JQGRID OPERATION DETAIL BEGINS -->
                            <table id="gridTableOpsModal"></table>
                            <div id="gridPagerOpsModal"></div>
                            <!-- JQGRID OPERATION DETAIL ENDS -->
                        </div>
                    </div>
                    <div class="modal-content-ops">
                        <div class="row mes__opmt-modal--row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="checkbox"></div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="chkCopyToolLinking" checked="checked">Copy tool, machine linking</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="div-lang" class="col-sm-6">
                                        <select name="countries" class="form-control pointer" id="drpLanguageOpMaster">
                                            <option value="vn" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-vn" data-title="Việt Nam">Tiếng Việt</option>
                                            <option value="gb" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-gb" data-title="English">English</option>
                                            <option value="id" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-id" data-title="Indonesia">Bahasa</option>
                                            <option value="mm" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-mm" data-title="မြန်မာဘာသာ">မြန်မာဘာသာ</option>
                                            <option value="et" data-image="/assets/country-dropdown/images/msdropdown/icons/blank.gif" data-imagecss="flag flag-et" data-title="Amharic">Amharic</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="radio">
                                    <label><input type="radio" id="rdCopySelectPlan" name="registerPlan" checked>Copy the selected plan</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content-ops">
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtStyleCode"> Style Code </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtStyleCode" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtStyleSize"> Style Size </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtStyleSize" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtColor"> Color </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtColor" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtRevNo"> Revision </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtRevNo" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtProcess"> Processes </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtProcess" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtMachine"> Machines </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtMachine" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtWorkerModal"> Workers </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtWorkerModal" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtTime"> Time </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtTime" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right" for="txtOpRevision"> Op Revision </label>
                                        <div class="col-sm-6">
                                            <input type="text" id="txtOpRevision" placeholder="" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label no-padding-right"> Target edition </label>
                                        <div class="col-sm-6 selec2-custom">
                                            <select id="drpTargetEdition" class="form-control" data-placeholder="Select edition" disabled="disabled"></select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnRegisterOps" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>